#mainnavbar {
    display: block;
    position: fixed;
    top: 0;
}

#side_bar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 16rem;
    padding: 2rem 1rem;
    background-color: #f8f9fa;
}

#top_bar {
    display: block;
    position: -ms-device-fixed;
    top: 0;


}

body {
    color: black;
}
.table{
    color:black
}
.container {
    min-height: 500px;
    color: black;
}

#group_filter:hover:before {
    position: absolute;
    top: 0px;
    left: -140px;
    color: #fff;
    font-size: .8em;
    background: #346e7a;
    padding: 5px;
    border-radius: 5px;
    content: '是否挑選想觀察之欄位';
}
#groupby_text:hover:before {
    position: absolute;
    top: 0px;
    left: -120px;
    color: #fff;
    font-size: .8em;
    background: #346e7a;
    padding: 5px;
    border-radius: 5px;
    content: 'df.groupby(col)';
}
/*#groupby_vorc:hover:before {*/
/*    position: absolute;*/
/*    top: 0px;*/
/*    left: -120px;*/
/*    color: #fff;*/
/*    font-size: .8em;*/
/*    background: #346e7a;*/
/*    padding: 5px;*/
/*    border-radius: 5px;*/
/*    content: 'v:df.groupby(col).get_group()  \n c:df.groupby()[othercol]';*/
/*}*/